
@{
    ViewData["Title"] = "DataPage";
}
<div class="barchart">
    <svg id="barchart1"></svg>
</div>

<div class="timeUseSummary"></div>
<div class="correctRateSummary"></div>

<script>
    //All data from the JSON files
    let allData = getAllData(4);

    //Maps that save each round's different types of experiment data
    let aveTimeUse = getAveTimeUseMap(allData);
    let aveAccuracy = getAveAccuracyMap(allData);
    
    console.log(aveAccuracy);
        
    let data = Array.from(aveTimeUse.values());

    //Set Graph's hight and width
    let svgWidth = 500;
    let svgHeight = 500;
    let svgX = 0;
    let svgY = 0;

    //The width of each bar and gap between them
    let barGap = 40;
    let barWidth = 10;


    //Set the scale of the Barchart's number
    let scale = d3.scaleLinear([0, d3.max(data)], [0, svgWidth * 0.9]);

    //Select the svg that will hold the barchart by id
    let barchartSvg = d3.select(".barchart")
        .select("#barchart1")
        .attr("width", svgWidth)
        .attr("height", svgHeight)
        .attr("transform", "translate(" + svgX + "," + svgY + ")");


    //Adding bars to the barchart
    let barchart = barchartSvg.selectAll("rect")
        .data(data)
        .enter()
        .append("rect")
        .attr("width", function (d, i) {
            return barWidth;
        })
        .attr("height", function (d, i) {
            return scale(d);
        })
        .attr("transform", function (d, i) {
            var h = svgHeight - scale(d) - 20;
            return "translate(" + barGap * i + "," + h + ")";
        });

    //Set X Axis
    let scaleX = d3.scaleLinear([1, data.length], [0, 400]);
    let xAxis = d3.axisBottom()
        .scale(scaleX)
        .ticks(data.length, "s");


    //Append to barchart
    barchartSvg.append("g")
        .attr("transform", "translate(0,482)")
        .call(xAxis);

    //Axis Font
    d3.selectAll("g.tick").select("line").style("color", "red");
</script>

@*PieChart(YiFei)*@
<script>

    //JSONData contains each Round's JSON Data
    var jsonData = getAllData(4);

</script>







