
@{
    ViewData["Title"] = "DataPage";
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        Overall Analysis
    </li>
    <li class="nav-item">
        Detailed Analysis
    </li>
</ul>
<svg class="barchart">
    
</svg>



<script>
    //All data from the JSON files
    let allData = getAllData(4);

    //Maps that save each round's different types of experiment data
    let aveTimeUse = getAveTimeUseMap(allData);
    let aveAccuracy = getAveAccuracyMap(allData);
    let imageTypeSummary = getImageAccuracyMap(allData);
  
    console.log(imageTypeSummary.get("Count"));
    console.log(imageTypeSummary.get("Accuracy"));
    console.log(getSingleRoundData(2,allData));
        
    let timeUseData = Array.from(aveTimeUse.values());
    
    
    createBarChart(".barchart",500,500,500,500,timeUseData);

@*PieChart(YiFei)*@




</script>







