@using MvcTest.wwwroot.cSharpFunction

@{
    ViewData["Title"] = "DataPage";

}

<link href="~/css/DataPage.css" rel="stylesheet" />
<div class="justify-content-start" style=" position: relative center" id="DataPageSelectors">
    <div style="font-size:20px; font-family:'Times New Roman';font-weight:bold ;font-style:italic;text-align:center">
        Selected File Name You Want To View  <select id="RoundSelector"></select>
    </div>

</div>

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js?ver<%=DateTime.Now.Ticks.ToString()%>"></script>
<script src="/js/SimpleChart.js"></script>

<div class="row">
    <div class="column">
        <p style="padding-left: 20px; padding-top:15px;font-size:14px; font-family:Arial;font-weight:bold">The relationship between Rounds and TimeUse</p>
        <svg width="500" height="500" id="svg10"></svg>
    </div>
    <div class="column">
        <p style="padding-left: 20px; padding-top:20px;font-size:14px; font-family:Arial;font-weight:bold">Percentage of ImageTypes</p>
        <svg width="500" height="500" id="svg20"></svg>
    </div>
    
    <div class="column">
        <p style="padding-left: 20px; padding-top:20px;font-size:14px; font-family:Arial;font-weight:bold">Use time sorted from low to high</p>
        <svg width="600" height="500" id="svg30" class="svgs"></svg>
    </div>
</div>

@*<svg width="100" height="500" id="svg5" class="svgs"></svg>
<svg width="500" height="500" id="svg10" class="svgs"></svg>
<svg width="100" height="500" id="svg15" class="svgs"></svg>
<svg width="500" height="500" id="svg20" class="svgs"></svg>
<svg width="100" height="500" id="svg25" class="svgs"></svg>
<svg width="600" height="500" id="svg30" class="svgs"></svg>*@


<script>

    let fileCount = @FileCounter.GetFilesCount("wwwroot/JData");        //file count
    let roundSelected = 0;                                              //initial round

    var svg10 = d3.select('#svg10');                                    //bar chart
    var svg20 = d3.select('#svg20');                                    //pie chart
    var svg30 = d3.select('#svg30');                                    //sort bar chart

    var width10 = +svg10.attr('width');                                 //width of bar chart
    var height10 = +svg10.attr('height');                               //height of bar chart
    var width20 = +svg20.attr('width');                                 //width of pie chart
    var height20 = +svg20.attr('height');                               //height of pie chart
    var width30 = +svg30.attr('width');                                 //width of sortable bar chart
    var height30 = +svg30.attr('height');                               //height of sortable bar chart

    var bar_margin = { top: 10, right: 50, bottom: 30, left: 60 };      //margin of bar chart
    var sortbar_margin = { top: 20, right: 30, bottom: 60, left: 50 };  //margin of sortable bar chart

    var pie_item1 = "Local";                                            //show in pie chart
    var pie_item2 = "Global";                                               
    var pie_item3 = "Neither";                                              

    var bottomText = "Time Used";                                       //show in sort bar chart
    var topText = "Speed Ranking";


    //Add options into the selector
    for (let i = 1; i <= fileCount; i++){
        let option = "Round" + i;
        $('#RoundSelector').append(`<option value="${option}">${option} </option>`);
    }

    //Get what options that user selected and show the data based on that
    $("#RoundSelector").change(function (round) {

        //get round number
        let options = $("#RoundSelector option:selected");
        roundSelected = options.val() + ".json";

        //Clear svg and show pie chart
        if ($("#svg20").html() !== null) {
            $("#svg20").html("");
        }
        PieInit(width20, height20, pie_item1, pie_item2, pie_item3, "/JData/" + roundSelected, "#svg20");

        //Clear svg and show bar chart
        if ($("#svg10").html() !== null) {
            $("#svg10").html("");
        }
        BarInit(width10, height10, bar_margin, "/JData/" + roundSelected, "#svg10");

        //Clear svg and show sortable bar chart
        if ($("#svg30").html() !== null) {
            $("#svg30").html("");
        }
        SortBar(width30, height30, sortbar_margin, bottomText, topText, "/JData/" + roundSelected, "#svg30");
         
    });
 
    // initial with Round1.json
    if (roundSelected === 0) {
           roundSelected = "Round1";
    }
    var filename = "/JData/" + roundSelected + ".json";       

    //initial pie chart
    PieInit(width20, height20, pie_item1, pie_item2, pie_item3, filename, "#svg20");

    //initial bar chart
    BarInit(width10, height10, bar_margin, filename, "#svg10");

    //initial sortable bar chart
    SortBar(width30, height30, sortbar_margin, bottomText, topText, filename, "#svg30");

</script>
