@{
    ViewData["Title"] = "Home Page";
}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Success</th>
                    <th>OverTime</th>
                    <th>TimeUse</th>
                    <th>ImageType</th>
                    <th>ImageDetail</th>

                </tr>
            </thead>

            <tbody>
                              <tr>
                                <td>Round</td>
                                <td>Success</td>
                                <td>OverTime</td>
                                <td>TimeUse</td>
                                <td>ImageType</td>
                                <td>ImageDetail</td>
                            </tr>
              
            </tbody>
        </table>
    </div>



