
@{
    ViewData["Title"] = "IntroView";
}
@*Lu Xin Intro View*@
    <section id="hero" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <h1>UPSIDE</h1>         
            <a asp-action="DataPage" class="btn-about">Lets Start</a>
        </div>
    </section>
    <link href="~/css/IntroView.css" rel="stylesheet" />


