@{
    ViewData["Title"] = "RawData";
}
@using MvcTest.wwwroot.cSharpFunction
@using System.Text.Encodings.Web
<link href="~/css/RawDataPage.css" rel="stylesheet" />


<h2 id="formTitle" style="font-size: 20px; font-family: 'Times New Roman'; font-weight: bold; font-style: italic; text-align: center">
    Please select the
    <select id="dataSelector">Data Selector</select>
    you want to review
</h2>
<table id="dataDisplay" class="align-content-center"></table>

<script>
    let fileCount = @FileCounter.GetFilesCount("wwwroot/JData");
    let fileListArray = "@FileCounter.GetFiles("wwwroot/JData")".split(",");
       
    let allData = getAllData(fileCount,fileListArray);
    
    //Add options into the selector
    for (let i = 0; i < allData.size; i++){
        let option = fileListArray[i].replace(/\.[^/.]+$/, "");
        $('#dataSelector').append(`<option value="${option}">${option} </option>`);
    }
    
    //Initial Round will be the Round 1
    showData(fileListArray[0].replace(/\.[^/.]+$/, ""));

    //Get what options that user selected and show the data based on that
   $("#dataSelector").change(function (round){
       let options = $("#dataSelector option:selected");
       showData(options.val());
   });

   //Show the original data
    function showData(round){
        let data = allData.get(round);

        let dataArray = [Array.from(data[0].keys())];
        for (let i = 0; i < data.length; i++){
            dataArray.push(Array.from(data[i].values()));
        }
        if ($("#dataDisplay").html() !== null){
            $("#dataDisplay").html("");
           }

        let tr = d3.select("#dataDisplay")
           .append("table")
           .selectAll("tr")
           .data(dataArray)
           .enter()
           .append("tr");

        let td = tr.selectAll("td")
            .data(function (d){
                return d;
            })
            .enter()
            .append("td")
            .text(function (d){
                return d;
            })
    }

</script>
