#OverallDataSelectors{
    text-align: center;
    font: 20px "Lucida Console";
    margin-top: 40px;
}
svg{
    margin-top: 50px;
}
rect{
    fill: #254BBB;
}
.tick text{
    font: 20px "Lucida Console";
    color: #9EAFCD;
}
.tick line{
    stroke: silver;
}