
#formTitle {
    margin-top: 50px;
    text-align: center;

}
#dataDisplay {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border-spacing: 0;
}

 td,  th {
        border: 1px solid #ddd;
        padding: 8px;
    }
 tr:nth-child(even) {
        background-color: #f2f2f2;
    }

tr:hover {
    background-color: #808080;
}

   
table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
   
}

